@inject NavigationManager Nav

<div class="card">
    <img class="card-img-top ProductImage" src="@( Nav.BaseUri + "api/image/" + ProductId + "/" + SelectedImage)" alt="Card image cap">
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" @onclick="Prev" class="btn btn-secondary"><i class="fas fa-angle-left"></i></button>
            @for (int i = 1; i <= ImageCount; i++)
            {
                if (i == SelectedImage)
                {
                    <button type="button" class="btn btn-light border-light">@i</button>
                }
                else
                {
                    int sel = i;
                    <button type="button" @onclick="() => Select(sel)" class="btn btn-secondary">@i</button>
                }
            }
            <button type="button" @onclick="next" class="btn btn-secondary"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</div>



@code {
    private int SelectedImage = 1;

    [Parameter]
    public int ImageCount { get; set; }

    [Parameter]
    public int ProductId { get; set; }

    public void next()
    {
        if (SelectedImage != ImageCount)
        {
            SelectedImage++;
        }
        StateHasChanged();
    }

    public void Prev()
    {
        if (SelectedImage != 1)
        {
            SelectedImage--;
        }
        StateHasChanged();
    }

    public void Select(int imageIndex)
    {
        SelectedImage = imageIndex;
        StateHasChanged();
    }
}
