@page "/product/create"
@using System.ComponentModel.DataAnnotations;
@inject HttpClient Client
@inject NavigationManager Nav
<h3>Create Product</h3>

<p>@ErrorMessage</p>

<EditForm Model="@form" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="InputName">Product Name</label>
        <input type="text" @bind-value="form.Name" class="form-control" id="InputName" placeholder="Enter Name">
    </div>

    <div class="form-group">
        <label for="InputName">Product Description</label>
        <input type="text" @bind-value="form.Description" class="form-control" id="InputName" placeholder="Enter Desctiption">
    </div>

    <div class="form-group">
        <label for="InputName">Product Price</label>
        <input type="number" @bind-value="form.Price" class="form-control" id="InputName" placeholder="Enter Desctiption">
    </div>

    <div class="form-group">
        <label for="InputName">Manufacurer Id</label>
        <input type="number" @bind-value="form.ManufacturerId" class="form-control" id="InputName" placeholder="Enter Desctiption">
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</EditForm>

@code {

    private string ErrorMessage { get; set; }
    private ProductValidationForm form = new();

    public async Task OnValidSubmit()
    {
        var response = await Client.PostAsJsonAsync<ProductValidationForm>("/api/Product/create",form);

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            Nav.NavigateTo("/");
        }
        else
        {
            ErrorMessage = $"{response.StatusCode} : {response.ReasonPhrase}";
        }
    }
}
