@inherits LayoutComponentBase
@inject ISyncLocalStorageService LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <h5>@BasketCount<i class="fas fa-shopping-basket"></i></h5>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    int BasketCount { get; set; } = 0;

    protected override void OnInitialized()
    {
        LocalStorage.Changed += OnBasketChange;
        if (LocalStorage.ContainKey("Basket"))
        {
        }

        base.OnInitialized();
    }

    public void OnBasketChange(object sender,ChangedEventArgs e)
    {
        if (LocalStorage.ContainKey("Basket"))
        {
        }
    }
}
