@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject ILocalStorageService LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button class="btn btn-success" @onclick='() => Nav.NavigateTo("/basket")'>@BasketCount <i class="fas fa-shopping-basket"></i></button>
        </div>

        <div class="content px-4">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code{
    int BasketCount { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        if (await LocalStorage.ContainKeyAsync("Basket"))
        {
            string basketString = await LocalStorage.GetItemAsStringAsync("Basket");
            var basket = basketString.ToBasketModels();

            BasketCount = basket.Select(b => b.Amount).Sum();
        }

        await base.OnInitializedAsync();
    }

    public async Task Update()
    {
        if (await LocalStorage.ContainKeyAsync("Basket"))
        {
            string basketString = await LocalStorage.GetItemAsStringAsync("Basket");
            var basket = basketString.ToBasketModels();

            BasketCount = basket.Select(b => b.Amount).Sum();
        }
        StateHasChanged();
    }

}
