@page "/checkout"
@inject ILocalStorageService LocalStorage
@inject HttpClient Client
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager Nav
<h3>Checkout</h3>

<p>@ErrorMsg</p>

<div class="card">
    <div class="card-body">
        <EditForm Model="@order" OnValidSubmit="@ValidSubmitAsync">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">Firstname</label>
                    <input type="text" @bind-value="order.FirstName" class="form-control" id="inputFirstName" placeholder="FirstName">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">LastName</label>
                    <input type="text" @bind-value="order.LastName" class="form-control" id="inputLastName" placeholder="LastName">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" @bind-value="order.Email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" @oninput="OnZipInput" @bind="zipcode" class="form-control" id="inputZip">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" disabled @bind="city" class="form-control" id="inputCity">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Checkout</button>
        </EditForm>
    </div>
</div>

@code {
    [CascadingParameter] MainLayout MainLayout { get; set; }
    public OrderModel order = new OrderModel();

    public string ErrorMsg { get; set; }
    public string zipcode { get; set; }
    public string city { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task ValidSubmitAsync()
    {
        OrderProductModel model = new();

        string basketString = await LocalStorage.GetItemAsStringAsync("Basket");

        List<BasketModel> basket = basketString.ToBasketModels();

        model.Products = basket.Select(bp => new ProductModel() {
            ProductId = bp.ProductId,
            Name = bp.name,
            Amount = bp.Amount,
            Price = bp.Price
        }).ToList();

        model.Order = order;

        CustomerModel customer = null;

        try
        {
            customer = await Client.GetFromJsonAsync<CustomerModel>($"/api/Customer/email/{order.Email}");
        }
        catch (Exception e)
        {
            //do not fail if customer is not there
        };

        if (customer == null)
        {
            customer = new()
            {
                firstName = order.FirstName,
                lastName = order.LastName,
                email = order.Email
            };
            var CustomerCreateResult = await Client.PostAsJsonAsync<CustomerModel>("/api/Customer",customer);

            if (CustomerCreateResult.IsSuccessStatusCode)
            {
                customer = await Client.GetFromJsonAsync<CustomerModel>($"/api/Customer/email/{order.Email}");
            }
        }

        model.Order.CustomerId = customer.customerId;

        var result = await Client.PostAsJsonAsync<OrderProductModel>("/api/Order", model);

        if (result.IsSuccessStatusCode)
        {
            await LocalStorage.SetItemAsStringAsync("Basket", "");
            await MainLayout.Update();
            Nav.NavigateTo("/Reciept");
        }
    }

    public async Task OnZipInput(ChangeEventArgs e)
    {
        HttpClient client = httpClientFactory.CreateClient("DAWA");

        try
        {
            var results = await client.GetFromJsonAsync<AddressResult[]>($"/adresser?postnr={e.Value}&per_side=1&side=1&struktur=mini");

            if (results != null)
            {
                if (results.Length != 0)
                {
                    var firstres = results.FirstOrDefault();

                    city = firstres.Postnrnavn;
                    StateHasChanged();
                }
                else
                {
                    city = "";
                }
            }
            else
            {
                city = "";
            }
        }
        catch (Exception err)
        {
            city = "";
            // ErrorMsg = err.Message;
        }


    }


}
