@page "/"
@inject HttpClient client
@inject NavigationManager Nav

<button @onclick='() => Nav.NavigateTo($"/product/create")' class="btn btn-primary"><i class="fas fa-plus"></i> Create</button>
@inject IToastService ToastService

<div class="row">
    @if (Products != null)
    {
        @foreach (var prod in Products)
        {
            <div class="col-4 mt-1 mb-1">
                <ProductItem ProductModel="prod" OnAddToBasket="() => MainLayout.Update()" />
            </div>
        }
    }
    else
    {
        <LoadingComponent Text="Loading Products..."/>
    }
</div>

@code{

    [CascadingParameter] public MainLayout MainLayout { get; set; }

    private List<ProductModel> Products { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            Products = await client.GetFromJsonAsync<List<ProductModel>>("/api/product/all");
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
        }

        await base.OnInitializedAsync();
    }

}