@page "/"
@inject HttpClient client

<div class="row">
    @if (Products != null)
    {
        @foreach (var prod in Products)
        {
            <div class="col-4 mt-1 mb-1">
                <ProductItem ProductModel="prod" />
            </div>
        }
    }
    else
    {
        <LoadingComponent Text="Loading Products..."/>
    }
</div>

@code{

    private List<ProductModel> Products { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Products = await client.GetFromJsonAsync<List<ProductModel>>("/api/product/all");

        await base.OnInitializedAsync();
    }

}