@page "/Orders"
<h3>Orders</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Manufacturer</th>
        </tr>
    </thead>
    <tbody>
@*        @foreach(var product in )
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.ManufacturerName</td>
            </tr>
        }*@
       
    </tbody>
</table>

@code {

}
